autocommand==2.2.2
certifi==2023.11.17
charset-normalizer==3.3.2
cheroot==10.0.0
CherryPy==18.9.0
contextvars==2.4
Cython==0.29.36
decorator==5.1.1
distro==1.9.0
dnspython==2.4.2
gssapi==1.8.3
idna==3.6
immutables==0.20
inflect==7.0.0
jaraco.collections==5.0.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
Jinja2==3.1.2
jmespath==1.0.1
ldap3==2.9.1
libnacl==2.1.0
MarkupSafe==2.1.3
more-itertools==10.1.0
msgpack==1.0.7
netaddr==0.10.1
portend==3.2.0
psutil==5.9.7
psycopg2==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycryptodomex==3.19.1
pydantic==2.5.3
python-dateutil==2.8.2
python-gnupg==0.5.2
python-ldap==3.4.4
python-logstash==0.4.8
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==23.2.1
requests==2.31.0
salt==3005.4
setproctitle==1.3.3
six==1.16.0
tempora==5.5.0
timelib==0.3.0
tornado==6.4
typing_extensions==4.9.0
urllib3==2.1.0
zc.lockfile==3.0.post1

# Ansible deps
ansible==9.1.0
ansible-core==2.16.2
argcomplete==3.2.1
cffi==1.16.0
cryptography==41.0.7
#Jinja2==3.1.2
#MarkupSafe==2.1.3
#packaging==23.2
#pip==23.3
pycparser==2.21
#PyYAML==6.0.1
resolvelib==1.0.1
#setuptools==68.0.0
