#salt==3006.0
https://github.com/saltstack/salt/releases/download/v3006.0/salt-3006.0.tar.gz

CherryPy==18.8.0
dnspython
psycopg2==2.9.6
python-dateutil
python-ldap==3.4.3
setproctitle
timelib
netaddr
libnacl
python-gnupg
python-logstash
ldap3
gssapi
